<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user %></h1>
    <p>
      confirm friend request at <%= link_to "confirm" ,url_for(controller: 'home',action:'personalChat',user: @user ),method: :get  %>;
    </p>
  </body>
</html>
