<!-- <!DOCTYPE html>
<html>
<head>
	<title>INVITE PAGE</title>
</head>
<body> -->
<div id="emailspage">   
<h1>INVITE FRIENDS TO CONNECT</h1>
<br>
<br>
<p>Add friends EMAIL ID to send request </p>
<form action="/home/sendmail" method="post">
<input type="text" name="friend1"><br><br>
<input type="text" name="friend2"><br><br>
<input type="text" name="friend3"><br><br>
<input type="submit" name="invite" value="send mail">
</form>
</div>
<!-- </body>
</html>
 -->